:root {
  --color-white: #ffffff;
  --color-green: #00b07b;
  --background-color-black: #242424;
  --background-color-green: #00b07b;
}

@font-face {
  font-family: "poppins-thin";
  src: url("/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "poppins-extralight";
  src: url("/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "poppins-light";
  src: url("/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "poppins-regular";
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "poppins-medium";
  src: url("/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "poppins-semibold";
  src: url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "poppins-bold";
  src: url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "poppins-extrabold";
  src: url("/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "poppins-black";
  src: url("/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-white);
}

a {
  text-decoration: none;
}
/* Button Tabs */
.bottom-tabs {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2c2c2c;
  z-index: 1000;
  padding: 5px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-tabs .tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  text-decoration: none;
  color: #b5b5b5;
  font-size: 12px;
  transition: all 0.3s ease;
}

.bottom-tabs .tabs.active {
  color: #00b07b;
}

.bottom-tabs .tab.active .tab-icon {
  color: #00b07b;
}

.bottom-tabs .tab.active .tab-text {
  color: #00b07b;
}

.bottom-tabs .tab-icon {
  font-size: 18px;
  margin-bottom: 4px;
  color: #b5b5b5;
  transition: all 0.3s ease;
}

.bottom-tabs .tab-text {
  font-size: 10px;
  font-family: "poppins-light", sans-serif;
  transition: all 0.3s ease;
}

/* ------------------------------------------------------------------ */
/* Header Styles
/* ------------------------------------------------------------------ */
header {
  position: relative;
  /* height: 900px; */
  text-align: center;
}

/* vertically center banner section */
header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}
.content-image img {
  width: 50px;
}
header .banner-text {
  width: 100%;
  margin-top: 3.2rem;
}
header .banner-content-previus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}
header .banner-content-previus img {
  width: 80px;
}
header .banner-border-box {
  border: 1px solid #00d595;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 8px 10px;
}
header .banner-border-box img {
  width: 20px;
}
header .banner-border-box p {
  margin: 0px;
  color: #fff;
  font-family: "poppins-light", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
header .banner-text h1 {
  font-size: 60px;
  font-family: "poppins-extralight", sans-serif;
  color: #fff;
  letter-spacing: 0px;
  margin: 0 auto 6px auto;
}
header .banner-text h3 {
  font-size: 20px;
  font-family: "poppins-thin", sans-serif;
  color: #fff;
  padding-top: 12px;
  margin: 0 auto;
  width: 40%;
}
header .banner-text h3 span,
header .banner-text h3 a {
  color: #fff;
}
header .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, 0.1);
}
header .responsive-headline span {
  color: #00b07b;
}

/* header social links */
header .social {
  margin: 28px 0;
  padding: 0;
  font-size: 30px;
}
header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 13px 15px;
  border: 1px solid #00b07b;
  border-radius: 10px;
}
header .social li:nth-child(1) {
  background-color: #00b07b;
}
header .social li:nth-child(1) a i {
  color: #fff;
}
header .social li:nth-child(1) a p {
  color: #fff;
}
header .social li a {
  font-family: "poppins-regular", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
  line-height: 20px;
}
header .social li a p {
  margin: 0px;
  font-size: 16px;
  color: #000;
  font-family: "poppins-medium", sans-serif;
}
header .social li a i {
  font-size: 24px;
  color: #000;
}
/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 0px;
  gap: 20px;
}
.content-image {
  position: absolute;
  left: 0;
  top: 22px;
  right: 60rem;
}
.opaque {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 50px;
  width: auto;
  /* center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  display: inline-block;
}
ul#nav li:after {
  content: "";
  width: 0;
  height: 2px;
  background: #00b07b;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: width 0.5s;
}
ul#nav li.current:after,
ul#nav li:hover:after {
  width: 100%;
}

/* Links */
ul#nav li a {
  font-family: "poppins-light", sans-serif;
  display: inline-block;
  padding: 5px 16px;
  line-height: 44px;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}
ul#nav li a:hover {
  color: #00b07b;
}
ul#nav li.current a {
  color: #00b07b;
  /* border-radius: 7px;
  text-align: center; */
  font-family: "poppins-regular", sans-serif;
}
ul#nav li a:active {
  background-color: transparent !important;
}

/* Skill */
header .skillContainer {
  margin-top: 4rem;
}
header .skillContainer h2 {
  font-size: 33px;
  margin-bottom: 20px;
  color: #fff;
  font-family: "poppins-regular", sans-serif;
}
#nav-skill {
  padding: 0px;
}
ul#nav-skill li {
  display: inline-block;
  padding: 10px 30px;
  line-height: 14px;
}

/* ------------------------------------------------------------------ */
/* About Styles
/* ------------------------------------------------------------------ */
#about .about-item {
  margin: 0 auto;
  width: 80%;
}
#about .about-content-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 4rem;
}
#about .about-content-title h1 {
  font-size: 2.4rem;
  font-family: "poppins-regular", sans-serif;
  margin: 0;
  color: #fff;
}
#about .about-content-bio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
#about .about-title {
  width: 58%;
}
#about .about-title p {
  font-size: 1.3rem;
  color: #fff;
  font-family: "poppins-extralight", sans-serif;
}
#about .about-title span {
  font-weight: 500;
  font-family: "poppins-medium", sans-serif;
}
#about .about-perfil {
  width: 320px;
}

/* ------------------------------------------------------------------ */
/* Button WhatsApp
/* ------------------------------------------------------------------ */
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 14px;
}

/* ------------------------------------------------------------------ */
/* Experience Styles
/* ------------------------------------------------------------------ */
#experience {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  overflow: hidden;
}
#experience .experience-item {
  margin: 0 auto;
  width: 80%;
}
#experience .experience-content-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
#experience .experience-content-title h1 {
  font-size: 2.4rem;
  font-family: "poppins-regular", sans-serif;
  margin: 0px;
  color: #fff;
}
#experience .timeline-marker {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fefefe;
  position: absolute;
  left: 4px;
  top: 7px;
}
#experience .timeline-marker.active {
  background-color: #00b07b;
}
#experience .container-experience {
  position: relative;
  margin-left: 5px;
  margin-bottom: 15px;
}
#experience .container-experience::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 30px;
  height: 94%;
  width: 1px;
  background-color: #fff;
  z-index: 1;
}
#experience .container-experience:last-child::before {
  display: none;
}
#experience .timeline-marker.active {
  background-color: #00b07b;
}
#experience .experience-experience-info {
  margin-top: 8rem;
  position: relative;
}
#experience .experience-content {
  display: flex;
  align-items: flex-start;
  width: 94%;
  padding-left: 55px;
}
#experience .experience-box-info {
  width: 40%;
}
#experience .experience-box-info h3 {
  margin: 0px;
  font-size: 23px;
  font-family: "poppins-semibold", sans-serif;
  color: #fff;
}
#experience .experience-box-info p {
  margin: 0px;
  font-size: 18px;
  color: #fff;
  font-family: "poppins-regular", sans-serif;
}
#experience .experience-box-info span {
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  font-family: "poppins-light", sans-serif;
}
#experience .experience-box-description {
  width: 60%;
}
#experience .experience-box-description p {
  color: #fff;
  font-family: "poppins-light", sans-serif;
  margin: 0px;
  font-size: 15px;
}

/* ------------------------------------------------------------------ */
/* Portfolio Styles
/* ------------------------------------------------------------------ */
#portfolio {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  overflow: hidden;
}
#portfolio .portfolio-item {
  margin: 0 auto;
  width: 80%;
}
#portfolio .portfolio-content-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
#portfolio .portfolio-content-title h1 {
  font-size: 2.4rem;
  font-family: "poppins-regular", sans-serif;
  margin: 0px;
  color: #fff;
}
#portfolio .portfolio-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 20px;
  column-gap: 10px;
}
#portfolio .container-experience {
  width: 100%;
}
#portfolio .experience-card {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
}
#portfolio .experience-item-card {
  display: flex;
  flex-direction: column;
}
#portfolio .experience-content-item-card-image {
  height: auto;
  text-align: center;
  margin-bottom: 7px;
}
#portfolio .experience-content-item-card-image img {
  width: auto;
  height: 180px;
  border-radius: 10px;
}
#portfolio .experience-item-list-skill {
  margin-bottom: 6px;
}
#portfolio .experience-content-description h2 {
  font-family: "poppins-regular", sans-serif;
  color: #fff;
  margin-bottom: 5px;
}
#portfolio .experience-item-description p {
  font-family: "poppins-light", sans-serif;
  color: #fff;
  font-size: 14px;
}
ul#experience-list-skill {
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
ul#experience-list-skill {
  position: relative;
  list-style: none;
  font-size: 18px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 7px;
  padding: 6px 0px;
}
ul#experience-list-skill li {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 5px 12px;
}
ul#experience-list-skill li span {
  color: #fff;
  font-size: 12px;
  font-family: "poppins-light", sans-serif;
}
ul#experience-list-skill li img {
  width: 15px;
}
#portfolio .experience-content-icons ul {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 10px;
}
ul#nav-code {
  position: relative;
}
ul#nav-code li {
  margin-bottom: 0px;
  position: relative;
  margin-right: 7px;
  list-style: none;
}
ul#nav-code li:after {
  content: "";
  width: 0;
  height: 2px;
  background: #00b07b;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: width 0.5s ease-in-out;
}
ul#nav-code li:hover::after {
  width: 100%;
}
#portfolio .experience-content-icons a:hover {
  color: #00b07b;
}
#portfolio .experience-content-icons a:hover .icons-general.active {
  display: block;
  transition: opacity 0.3s ease-in-out;
}
#portfolio .experience-content-icons a:hover .icons-general.disable {
  display: none;
  transition: opacity 0.3s ease-in-out;
}
#portfolio .experience-content-icons a .icons-general {
  position: relative;
  transition: opacity 0.3s ease-in-out;
}
#portfolio .experience-content-icons a .icons-general.disable {
  display: block;
}
#portfolio .experience-content-icons a .icons-general.active {
  display: none;
}
#portfolio .experience-content-icons a {
  color: #fff;
  font-family: "poppins-light", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 7px;
  font-size: 13px;
  border-radius: 10px;
  transition: color 0.3s ease-in-out;
}
#portfolio .experience-content-icons a img {
  width: 16px;
}

/* ------------------------------------------------------------------ */
/* Contact Styles
/* ------------------------------------------------------------------ */
#contact {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  overflow: hidden;
}
#contact .contact-container {
  margin: 0 auto;
  width: 80%;
}
#contact .section-head {
  margin-bottom: 42px;
}
#contact .contact-content-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
#contact a,
#contact a:visited {
  color: #00d595;
}
#contact a:hover,
#contact a:focus {
  color: #fff;
}
#contact h1 {
  font-size: 2.4rem;
  font-family: "poppins-regular", sans-serif;
  margin: 0px;
  color: #fff;
}
#contact h1 span {
  display: none;
}
#contact h4 {
  font: 16px/24px "Poppins-bold", sans-serif;
  color: #ebeeee;
  margin-bottom: 6px;
}
#contact p.lead {
  font: 18px/36px "Poppins-light", sans-serif;
  padding-right: 3%;
}
#contact .header-col {
  padding-top: 6px;
}
#contact .box-contact {
  margin-top: 2.4rem;
}
#contact form {
  margin-bottom: 30px;
}
#contact label {
  font: 18px/24px "Poppins-medium", sans-serif;
  margin: 12px 0;
  color: #fff;
  display: inline-block;
  width: 70%;
}
#contact .grid-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}
#contact input,
#contact textarea,
#contact select {
  padding: 14px 15px;
  color: #000;
  font-family: "poppins-regular", sans-serif;
  background: #ffffff;
  border: 1px solid #00b07b;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
  background-color: #e2fff6;
}
#contact .content-btn-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
#contact .content-mensaje {
  margin-top: 1.5rem;
}
#contact button.submit {
  color: #fff;
  background: #00b07b;
  border: none;
  font-size: 18px;
  border-radius: 7px;
  padding: 15px 30px;
  cursor: pointer;
  height: auto;
  display: inline-block;
  transition: all 0.3s ease-out;
}
#contact button.submit:hover {
  color: #ffffff;
  background: #006b40;
  transition: all 0.3s ease-in;
}
#contact span.required {
  color: #00d595;
  font-size: 13px;
}
#message-warning,
#message-success {
  background: #0f0f0f;
  padding: 24px 24px;
  margin-bottom: 36px;
  width: 65%;
  margin-left: 26%;
}
#message-warning {
  color: #d72828;
}
#message-success {
  color: #00d595;
}

#message-warning i,
#message-success i {
  margin-right: 10px;
}
#image-loader {
  display: none;
  position: relative;
  left: 18px;
  top: 17px;
}

/* ------------------------------------------------------------------ */
/* Responsive Design
/* ------------------------------------------------------------------ */
/* ----------------------------------------- */
/* Responsive Design Tablet
/* ----------------------------------------- */
@media screen and (max-width: 768px) {
  /* ------------------------------ */
  /* Responsive Design Home
  /* ------------------------------ */
  .content-nav {
    display: block;
  }
  .content-image {
    left: 25px;
  }
  header .banner-text {
    margin-top: 3rem;
  }
  .content-image img {
    width: 40px;
  }
  header .banner {
    width: 100%;
  }
  header .banner-border-box p {
    font-size: 13px;
  }
  header .banner-content-previus {
    margin-bottom: 13px;
  }
  header .banner-content-previus img {
    width: 80px;
  }
  header .banner-content-previus .banner-border-box img {
    width: 27px;
  }
  header .banner-text h1 {
    font-size: 50px;
  }
  header .banner-text h3 {
    font-size: 22px;
    width: 80%;
  }
  header .social li {
    margin: 0 8px;
  }
  header .skillContainer {
    margin-top: 0rem;
  }
  header .skillContainer h2 {
    font-size: 37px;
    margin-bottom: 15px;
  }
  .whatsapp {
    bottom: 45px;
    right: 30px;
  }
  /* ------------------------------ */
  /* Responsive Design About
  /* ------------------------------ */
  #about {
    margin: 0px 10px;
  }
  #about .about-item {
    width: 93%;
  }
  #about .about-content-title {
    margin-top: 2.9rem;
    margin-bottom: 15px;
  }
  #about .about-content-title img {
    width: 30px;
  }
  #about .about-content-title h1 {
    font-size: 2.4rem;
  }
  #about .about-content-bio {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 25px;
  }
  #about .about-title {
    width: 100%;
  }
  #about .about-title p {
    font-size: 1.2rem;
  }
  #about .about-perfil {
    width: 235px;
  }
  /* ------------------------------ */
  /* Responsive Design Experience
  /* ------------------------------ */
  #experience {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #experience .experience-item {
    width: 95%;
  }
  #experience .container-experience {
    margin-left: 10px;
  }
  #experience .experience-content-title {
    margin-bottom: 25px;
  }
  #experience .experience-content-title img {
    width: 40px;
  }
  #experience .experience-content-title h1 {
    font-size: 2.4rem;
  }
  #experience .experience-box-info {
    width: 100%;
  }
  #experience .experience-box-description {
    width: 100%;
  }
  #experience .experience-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 40px;
  }
  /* ------------------------------ */
  /* Responsive Design Project
  /* ------------------------------ */
  #portfolio {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #portfolio .portfolio-item {
    width: 95%;
  }
  #portfolio .portfolio-info {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1rem;
  }
  #portfolio .portfolio-content-title {
    margin-bottom: 25px;
  }
  #portfolio .portfolio-content-title img {
    width: 40px;
  }
  #portfolio .portfolio-content-title h1 {
    font-size: 2.4rem;
  }
  #portfolio .experience-card {
    padding: 20px;
  }
  /* ------------------------------ */
  /* Responsive Design Project
  /* ------------------------------ */
  #contact {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #contact .contact-container {
    width: 95%;
  }
  #contact .grid-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }
  #contact .box-contact {
    margin-top: 1rem;
  }
  #contact .contact-content-title {
    margin-bottom: 20px;
  }
  #contact .contact-content-title img {
    width: 40px;
  }
  #contact .contact-content-title h1 {
    font-size: 2.4rem;
  }
}

/* ----------------------------------------- */
/* Responsive Design Mobile
/* ----------------------------------------- */
@media screen and (max-width: 426px) {
  /* ------------------------------ */
  /* Responsive Design Home
  /* ------------------------------ */
  .content-nav {
    display: none;
  }
  /*Styles for the menu of tabs at the bottom*/
  .bottom-tabs {
    display: flex;
    justify-content: space-around;
  }
  .content-image {
    left: 5px;
  }
  header .banner-text {
    margin-top: 3rem;
  }
  .content-image img {
    width: 40px;
  }
  header .banner {
    width: 100%;
    padding-bottom: 4.5rem;
  }
  header .banner-content-previus {
    margin-bottom: 13px;
  }
  header .banner-content-previus img {
    width: 55px;
  }
  header .banner-content-previus .banner-border-box img {
    width: 27px;
  }
  header .banner-text h1 {
    font-size: 37px;
  }
  header .banner-text h3 {
    font-size: 18px;
    width: 95%;
  }
  header .social li {
    margin: 0 8px;
  }
  header .skillContainer {
    margin-top: 0rem;
  }
  header .skillContainer h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .whatsapp {
    bottom: 70px;
    right: 20px;
  }
  /* ------------------------------ */
  /* Responsive Design About
  /* ------------------------------ */
  #about {
    margin: 0px 10px;
  }
  #about .about-item {
    width: 100%;
  }
  #about .about-content-title {
    margin-top: 2.9rem;
    margin-bottom: 15px;
  }
  #about .about-content-title img {
    width: 25px;
  }
  #about .about-content-title h1 {
    font-size: 1.8rem;
  }
  #about .about-content-bio {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 25px;
  }
  #about .about-title {
    width: 100%;
  }
  #about .about-title p {
    font-size: 1rem;
  }
  #about .about-perfil {
    width: 200px;
  }
  /* ------------------------------ */
  /* Responsive Design Experience
  /* ------------------------------ */
  #experience {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #experience .experience-item {
    width: 100%;
  }
  #experience .experience-content-title {
    margin-bottom: 25px;
  }
  #experience .experience-content-title img {
    width: 30px;
  }
  #experience .experience-content-title h1 {
    font-size: 1.8rem;
  }
  #experience .experience-box-info {
    width: 100%;
  }
  #experience .experience-box-description {
    width: 100%;
  }
  #experience .experience-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 40px;
  }
  /* ------------------------------ */
  /* Responsive Design Project
  /* ------------------------------ */
  #portfolio {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #portfolio .container-experience {
    width: 95%;
  }
  #portfolio .portfolio-item {
    width: 100%;
  }
  #portfolio .portfolio-info {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  #portfolio .portfolio-content-title {
    margin-bottom: 25px;
  }
  #portfolio .portfolio-content-title img {
    width: 30px;
  }
  #portfolio .portfolio-content-title h1 {
    font-size: 1.8rem;
  }
  /* ------------------------------ */
  /* Responsive Design Project
  /* ------------------------------ */
  #contact {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #contact .contact-container {
    width: 100%;
  }
  #contact .grid-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  #contact .box-contact {
    margin-top: 1rem;
  }
  #contact .contact-content-title {
    margin-bottom: 20px;
  }
  #contact .contact-content-title img {
    width: 30px;
  }
  #contact .contact-content-title h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 376px) {
  /* ------------------------------ */
  /* Responsive Design Home
  /* ------------------------------ */
  .content-nav {
    display: none;
  }
  /*Styles for the menu of tabs at the bottom*/
  .bottom-tabs {
    display: flex;
    justify-content: space-around;
  }
  .content-image {
    left: 5px;
  }
  header .banner-text {
    margin-top: 3rem;
  }
  .content-image img {
    width: 40px;
  }
  header .banner {
    width: 100%;
    padding-bottom: 4.5rem;
  }
  header .banner-content-previus {
    margin-bottom: 13px;
  }
  header .banner-content-previus img {
    width: 55px;
  }
  header .banner-content-previus .banner-border-box img {
    width: 27px;
  }
  header .banner-text h1 {
    font-size: 37px;
  }
  header .banner-text h3 {
    font-size: 18px;
    width: 95%;
  }
  header .social li {
    margin: 0 8px;
  }
  header .skillContainer {
    margin-top: 0rem;
  }
  header .skillContainer h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .whatsapp {
    bottom: 70px;
    right: 20px;
  }
  /* ------------------------------ */
  /* Responsive Design About
  /* ------------------------------ */
  #about {
    margin: 0px 10px;
  }
  #about .about-item {
    width: 100%;
  }
  #about .about-content-title {
    margin-top: 2.9rem;
    margin-bottom: 15px;
  }
  #about .about-content-title img {
    width: 25px;
  }
  #about .about-content-title h1 {
    font-size: 1.8rem;
  }
  #about .about-content-bio {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 25px;
  }
  #about .about-title {
    width: 100%;
  }
  #about .about-title p {
    font-size: 1rem;
  }
  #about .about-perfil {
    width: 200px;
  }
  /* ------------------------------ */
  /* Responsive Design Experience
  /* ------------------------------ */
  #experience {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #experience .experience-item {
    width: 100%;
  }
  #experience .container-experience {
    margin-left: 5px;
  }
  #experience .experience-content-title {
    margin-bottom: 25px;
  }
  #experience .experience-content-title img {
    width: 30px;
  }
  #experience .experience-content-title h1 {
    font-size: 1.8rem;
  }
  #experience .experience-box-info {
    width: 100%;
  }
  #experience .experience-box-description {
    width: 100%;
  }
  #experience .experience-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 40px;
  }
  /* ------------------------------ */
  /* Responsive Design Project
  /* ------------------------------ */
  #portfolio {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #portfolio .portfolio-item {
    width: 100%;
  }
  #portfolio .container-experience {
    width: 95%;
  }
  #portfolio .portfolio-info {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  #portfolio .portfolio-content-title {
    margin-bottom: 25px;
  }
  #portfolio .portfolio-content-title img {
    width: 30px;
  }
  #portfolio .portfolio-content-title h1 {
    font-size: 1.8rem;
  }
  /* ------------------------------ */
  /* Responsive Design Project
  /* ------------------------------ */
  #contact {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #contact .contact-container {
    width: 100%;
  }
  #contact .grid-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  #contact .box-contact {
    margin-top: 1rem;
  }
  #contact .contact-content-title {
    margin-bottom: 20px;
  }
  #contact .contact-content-title img {
    width: 30px;
  }
  #contact .contact-content-title h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 360px) {
  /* ------------------------------ */
  /* Responsive Design Home
  /* ------------------------------ */
  .content-nav {
    display: none;
  }
  /*Styles for the menu of tabs at the bottom*/
  .bottom-tabs {
    display: flex;
    justify-content: space-around;
  }
  .content-image {
    left: 5px;
  }
  header .banner-text {
    margin-top: 3rem;
  }
  .content-image img {
    width: 40px;
  }
  header .banner {
    width: 100%;
  }
  header .banner-content-previus {
    margin-bottom: 13px;
  }
  header .banner-content-previus img {
    width: 55px;
  }
  header .banner-content-previus .banner-border-box img {
    width: 27px;
  }
  header .banner-text h1 {
    font-size: 37px;
  }
  header .banner-text h3 {
    font-size: 18px;
    width: 95%;
  }
  header .social li {
    margin: 0 8px;
  }
  header .skillContainer {
    margin-top: 0rem;
  }
  header .skillContainer h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .whatsapp {
    bottom: 70px;
    right: 20px;
  }
  /* ------------------------------ */
  /* Responsive Design About
  /* ------------------------------ */
  #about {
    margin: 0px 10px;
  }
  #about .about-item {
    width: 100%;
  }
  #about .about-content-title {
    margin-top: 2.9rem;
    margin-bottom: 15px;
  }
  #about .about-content-title img {
    width: 25px;
  }
  #about .about-content-title h1 {
    font-size: 1.8rem;
  }
  #about .about-content-bio {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 25px;
  }
  #about .about-title {
    width: 100%;
  }
  #about .about-title p {
    font-size: 1rem;
  }
  #about .about-perfil {
    width: 200px;
  }
  /* ------------------------------ */
  /* Responsive Design Experience
  /* ------------------------------ */
  #experience {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #experience .experience-item {
    width: 100%;
  }
  #experience .container-experience {
    margin-left: 5px;
  }
  #experience .experience-content-title {
    margin-bottom: 25px;
  }
  #experience .experience-content-title img {
    width: 30px;
  }
  #experience .experience-content-title h1 {
    font-size: 1.8rem;
  }
  #experience .experience-box-info {
    width: 100%;
  }
  #experience .experience-box-description {
    width: 100%;
  }
  #experience .experience-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 40px;
  }
  /* ------------------------------ */
  /* Responsive Design Project
  /* ------------------------------ */
  #portfolio {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #portfolio .container-experience {
    width: 100%;
  }
  #portfolio .portfolio-item {
    width: 100%;
  }
  #portfolio .portfolio-info {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0rem;
    padding-bottom: 1rem;
  }
  #portfolio .portfolio-content-title {
    margin-bottom: 25px;
  }
  #portfolio .portfolio-content-title img {
    width: 30px;
  }
  #portfolio .portfolio-content-title h1 {
    font-size: 1.8rem;
  }
  /* ------------------------------ */
  /* Responsive Design Project
  /* ------------------------------ */
  #contact {
    margin: 0px 10px;
    padding-top: 2.9rem;
    padding-bottom: 3.8rem;
  }
  #contact .contact-container {
    width: 100%;
  }
  #contact .grid-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  #contact .box-contact {
    margin-top: 1rem;
  }
  #contact .contact-content-title {
    margin-bottom: 20px;
  }
  #contact .contact-content-title img {
    width: 30px;
  }
  #contact .contact-content-title h1 {
    font-size: 1.8rem;
  }
}
